.border-radius {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.ns-awesome-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .ns-gallery-photo {
    position: relative;
    flex-grow: 1;
    height: 250px;

    .ns-gallery-photo-image, .ns-gallery-photo-overlay {
      @extend .border-radius;
      margin: 0 15px 15px 0;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }

    .ns-gallery-photo-image {
      z-index: 1;
      background-position: center;
      background-size: cover;
    }

    .ns-gallery-photo-overlay {
      background-color: rgba(0,0,0,0.7);
      color: #ffffff;
      z-index: 2;
      opacity: 0;
      -webkit-transition: opacity 0.3s;
      -moz-transition: opacity 0.3s;
      -ms-transition: opacity 0.3s;
      -o-transition: opacity 0.3s;
      transition: opacity 0.3s;
      padding: 15px;

      &:hover {
        cursor: pointer;
        opacity: 1;
      }
    }

    .ns-gallery-photo-name {
      font-size: 20px;
    }

    .ns-gallery-photo-description {
      font-size: 14px;
      margin-top: 15px;
    }
  }
}

#ns-gallery-previewer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10000;
  background-color: rgba(0,0,0,0.8);

  .ns-gallery-full-photo {
    position: absolute;
    top: 50px;
    left: 25px;
    right: 25px;
    bottom: 200px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .ns-gallery-photo-info {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.3);
    color: #ffffff;
    padding: 15px;
  }

  .ns-gallery-photos-list {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 150px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;

    ul {
      list-style: none;
      margin: 0;
      padding: 0 15px;
      white-space: nowrap;
    }

    .ns-gallery-photo-thumbnail {
      display: inline-block;
      margin: 0 15px 15px 0;

      &.active {

        img {
          border: 3px solid #48bf95;
          height: 114px;
        }
      }

      img {
        @extend .border-radius;
        height: 120px;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}